{{> layout/header}}

<div class="container p-5">
    <div class="card">
        <div class="card-header"><b>글쓰기</b></div>
        <div class="card-body">
            {{! name 속성의 값이 서버에서 받을 때의 이름이 됩니다 }}
            <form action="/board/save" method="post">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="작성자" name="username">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="제목" name="title">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" rows="5" placeholder="내용" name="content"></textarea>
                </div>
                <button class="btn btn-primary form-control">글쓰기 완료</button>
            </form>
        </div>
    </div>
</div>

{{> layout/footer}}