{{> layout/header}}

<div class="container p-5">
    <div class="card">
        <div class="card-header"><b>회원가입</b></div>
        <div class="card-body">
            <form action="/join" method="post">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="사용자명" name="username">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="비밀번호" name="password">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="이메일" name="email">
                </div>
                <button class="btn btn-primary form-control">회원가입</button>
            </form>
        </div>
    </div>
    {{#errorMessage}}
        <div class="alert alert-danger m-3">{{errorMessage}}</div>
    {{/errorMessage}}
</div>

{{> layout/footer}}