{{> layout/header}}

<div class="container p-5">
    <div class="card">
        <div class="card-header"><b>로그인</b></div>
        <div class="card-body">
            <!-- 원래 자원의 요청은 GET 요청이 일반적이다. 하지만 로그인 요청은 예외적으로
            사용자의 이름과 비밀번호를 작성해야 되기 때문에 보안상 이유로 반드시 POST 요청을 해야한다.-->
            <form action="/login" method="post">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="사용자명" name="username">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="비밀번호" name="password">
                </div>
                <button class="btn btn-primary form-control">로그인</button>
            </form>
        </div>
    </div>
</div>

{{> layout/footer}}